*{
    box-sizing: border-box;
}

.outerContainer{
    display:flex;
    flex-direction:column;
    width:1000px;
    color:#516191;
    margin: 60px auto 0;
    justify-content: center;
    align-items: center;
}



.table{
    width:100%;
    max-width: 800px;
    text-align: center;
    border: 1px solid #516191;
}

.table tr{
    height: 55px;
    border-bottom: #516191 1px solid;
}

.table th{
    color: black;
}

.table th, td{
    vertical-align: middle;
}

.btn{
    margin-top: 60px;
    text-decoration: none;
    padding: 20px;
    background-color: #516191;
    color: white;
}